.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    ;
}

input[type="text"] {
    max-width: 400px;
    padding: 0.2rem 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

button {
    background-color: yellowgreen;
    border-radius: 5px;
}